#TRABALHO LÓGICA MATEMÁTICA - 4 SEMESTRE CD FATEC OURINHOS
#PAULO ELIAS TAVARES GENEROZO
#THOMAS JEFFERSON BATISTA AMÉRICO
#MATEUS NATAN ROES SALGUEIRO
#RAFAEL AUGUSTO MORAES MONTEIRO

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

file_path = '/content/drive/My Drive/vendas.xlsx'
df_vendas = pd.read_excel(file_path)

#visualizar as primeiras linhas do dataframe
print(df_vendas.head())

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   ID_Cliente  Idade  Comprou_Últimos_3_Meses  Compra_Valor_Anterior
0           1     61                     True                     88
1           2     42                     True                    470
2           3     30                    False                     30
3           4     36                    False                    429
4           5     22                     True                    231

PREMISSAS:

1) Se o cliente tem mais de 30 anos e comprou nos últimos 3 meses, então ele é ativo.
2) Se o cliente tem mais de 30 anos e não comprou nos últimos 3 meses, então ele é inativo.
3) Se o cliente tem menos de 30 anos e não comprou nos últimos 3 meses, então ele é inativo.
4) Se o cliente tem menos de 30 anos e comprou nos últimos 3 meses, então ele é ativo.

In [ ]:
#filtrando clientes com idade maior que 30 e que compraram nos últimos 3 meses
clientes_ativos = df_vendas[(df_vendas['Idade'] > 30) & (df_vendas['Comprou_Últimos_3_Meses'] == True)]

#exibindo clientes que atendem aos critérios
print("Clientes com idade maior que 30 e que compraram nos últimos 3 meses:")
print(clientes_ativos)

#filtrando vendas com valor superior a 100 e que o cliente comprou nos últimos 3 meses
vendas_mais_100 = df_vendas[(df_vendas['Compra_Valor_Anterior'] > 100) & (df_vendas['Comprou_Últimos_3_Meses'] == True)]

#exibindo as vendas que atendem aos critérios
print("\nVendas com valor superior a 100 e que o cliente comprou nos últimos 3 meses:")
print(vendas_mais_100)

Clientes com idade maior que 30 e que compraram nos últimos 3 meses:
    ID_Cliente  Idade  Comprou_Últimos_3_Meses  Compra_Valor_Anterior  \
0            1     61                     True                     88
1            2     42                     True                    470
6            7     44                     True                     52
9           10     44                     True                    184
10          11     34                     True                    252
15          16     68                     True                    218
19          20     68                     True                    195
20          21     55                     True                    198
21          22     48                     True                    487
22          23     49                     True                     87
24          25     42                     True                    218
32          33     34                     True                    141
34          35     60                     True                     92
36          37     48                     True                    325
38          39     61                     True                    245
41          42     58                     True                    493
43          44     35                     True                    284
44          45     47                     True                    384
47          48     58                     True                    461
48          49     46                     True                     49
49          50     42                     True                    376
52          53     36                     True                    381
57          58     62                     True                    238
58          59     48                     True                    456
62          63     35                     True                     83
68          69     51                     True                    452
72          73     64                     True                    108
74          75     51                     True                    213
75          76     58                     True                    113
76          77     50                     True                    253
85          86     38                     True                    154
86          87     32                     True                    250
87          88     59                     True                     27
90          91     39                     True                    406
91          92     37                     True                    367
95          96     63                     True                    122

   Status_Cliente
0           Ativo
1           Ativo
6           Ativo
9           Ativo
10          Ativo
15          Ativo
19          Ativo
20          Ativo
21          Ativo
22          Ativo
24          Ativo
32          Ativo
34          Ativo
36          Ativo
38          Ativo
41          Ativo
43          Ativo
44          Ativo
47          Ativo
48          Ativo
49          Ativo
52          Ativo
57          Ativo
58          Ativo
62          Ativo
68          Ativo
72          Ativo
74          Ativo
75          Ativo
76          Ativo
85          Ativo
86          Ativo
87          Ativo
90          Ativo
91          Ativo
95          Ativo

Vendas com valor superior a 100 e que o cliente comprou nos últimos 3 meses:
    ID_Cliente  Idade  Comprou_Últimos_3_Meses  Compra_Valor_Anterior  \
1            2     42                     True                    470
4            5     22                     True                    231
5            6     24                     True                    420
9           10     44                     True                    184
10          11     34                     True                    252
13          14     21                     True                    203
15          16     68                     True                    218
19          20     68                     True                    195
20          21     55                     True                    198
21          22     48                     True                    487
24          25     42                     True                    218
32          33     34                     True                    141
35          36     28                     True                    361
36          37     48                     True                    325
38          39     61                     True                    245
41          42     58                     True                    493
43          44     35                     True                    284
44          45     47                     True                    384
47          48     58                     True                    461
49          50     42                     True                    376
52          53     36                     True                    381
55          56     24                     True                    422
57          58     62                     True                    238
58          59     48                     True                    456
64          65     22                     True                    260
68          69     51                     True                    452
72          73     64                     True                    108
74          75     51                     True                    213
75          76     58                     True                    113
76          77     50                     True                    253
78          79     27                     True                    444
80          81     24                     True                    311
85          86     38                     True                    154
86          87     32                     True                    250
88          89     25                     True                    481
90          91     39                     True                    406
91          92     37                     True                    367
93          94     24                     True                    118
95          96     63                     True                    122
98          99     24                     True                    259

   Status_Cliente
1           Ativo
4           Ativo
5           Ativo
9           Ativo
10          Ativo
13          Ativo
15          Ativo
19          Ativo
20          Ativo
21          Ativo
24          Ativo
32          Ativo
35          Ativo
36          Ativo
38          Ativo
41          Ativo
43          Ativo
44          Ativo
47          Ativo
49          Ativo
52          Ativo
55          Ativo
57          Ativo
58          Ativo
64          Ativo
68          Ativo
72          Ativo
74          Ativo
75          Ativo
76          Ativo
78          Ativo
80          Ativo
85          Ativo
86          Ativo
88          Ativo
90          Ativo
91          Ativo
93          Ativo
95          Ativo
98          Ativo

In [ ]:
# Função para aplicar a regra de Modus Ponens
def modus_ponens(A, A_implica_B):
    if A:
        return A_implica_B  # Se A é verdadeiro, então B é verdadeiro
    return False

# Função para aplicar a regra de Modus Tollens
def modus_tollens(A_implica_B, B):
    if not B:
        return not A_implica_B  # Se B é falso, então A também deve ser falso
    return True

# Definindo as proposições
A = True  # Está chovendo
A_implica_B = True  # Se estiver chovendo, a rua ficará molhada
B = True  # A rua está molhada

# Aplicando Modus Ponens
print("Modus Ponens:")
print(f"Se A implica B e A é verdadeiro, então B é: {modus_ponens(A, A_implica_B)}")

# Modificando a proposição B para testar Modus Tollens
B = False  # A rua não está molhada

# Aplicando Modus Tollens
print("\nModus Tollens:")
print(f"Se A implica B e B é falso, então A deve ser falso: {modus_tollens(A_implica_B, B)}")

Modus Ponens:
Se A implica B e A é verdadeiro, então B é: True

Modus Tollens:
Se A implica B e B é falso, então A deve ser falso: False